.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogItems{
    padding: 10px;
}
.dialogItems .active{
    color: cornflowerblue;
}
.messages{
    position: relative;
    padding: 10px;
}
.message{

}
.dialogImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.newMessageArea{
    position: absolute;
    top: 210px;
}
.sent{
    margin-top: 7px;
    margin-left: 15px;
}
.dialogLinks{
    text-decoration: none;
    color: blue;
    font-size: 14px;
}
